body {
  font-family: "ＭＳ ゴシック",sans-serif;
  color: #F6F6E3;
}

.wrap {
  width: 400px;
  height: 60px;
}

.settingUI {
  display: flex;
  height: 100%;
}

  .SetMinBox {
    width: 50%;
    background: #6C5070;
  }

    .setMinContents {
      text-align: center;
      margin: 18px auto 0;
    }

      .setMinContents input {
        color: #F6F6E3;
        background: #866a8a;
        border: none;
      }

  #btnStart {
    width: 50%;
    text-align: center;
    background: #2EB872;
  }

    .startLabel {
      margin-top: 16px;
      font-size: 24px;
    }

.displayUI {
  height: 100%;
  display: none;
}

  #progressBar {
    position: relative;
    z-index: 1;
    background: #6C5070;
    width: 80%;
    background-image: url("../img/bg1.png");
    background-position: -40px;
  }

  #timer {
    position: absolute;
    top: 20px;
    left: 146px;
    z-index: 2;
    text-align: center;
  }

  #currentBar {
    width: 100%;
    height: 100%;
    background: #2EB872;
  }

  #btnCancel {
    background: #866a8a;
    width: 20%;
  }

    .cancelLabel {
      text-align: center;
      margin-top: 20px;
    }
